body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__hat {
  display: flex;
  gap: 10px;
  margin-bottom: 72px;
}
.catalog__hat--item {
  padding: 9px 20px;
  font-weight: 300;
  font-size: 16px;
  color: #212629;
  background: #E9E9E9;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08), -1px -1px 6px rgba(255, 255, 255, 0.5), -5px -5px 20px #ffffff, 5px 5px 20px #d3d3d3;
  border-radius: 99px;
  cursor: pointer;
}
.catalog__hat--item:hover {
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.8), inset -6px -6px 5px rgba(255, 255, 255, 0.3), inset 1px 1px 3px rgba(0, 0, 0, 0.15), inset 6px 6px 5px rgba(0, 0, 0, 0.06);
}
.catalog__list--title {
  font-weight: 700;
  font-size: 36px;
  color: #212629;
  margin-bottom: 40px;
}
.catalog__list--wrapper {
  margin-bottom: 110px;
  flex-wrap: wrap;
}
.catalog__block {
  max-width: 370px;
}
.catalog__block--top {
  background: #FE724B;
  width: 100%;
  height: 370px;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  overflow: hidden;
}
.catalog__food--image {
  width: 370px;
}
.catalog__icon--like {
  position: absolute;
  top: 23px;
  left: 20px;
  z-index: 999;
}
.catalog__block--spicy {
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
.catalog__block--bottom {
  padding: 20px;
}

.footer__title {
  margin-left: 21px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  color: #212629;
}
.footer__suptitle {
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  color: #212629;
}
.footer__img {
  margin-top: 20px;
  width: 20px;
  height: 20px;
}
.footer__left {
  border-top: 1px solid rgba(22, 22, 22, 0.08);
}
.footer__full {
  display: flex;
  margin-bottom: 20px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__full {
  border-top: 1px solid rgba(22, 22, 22, 0.08);
  width: 370px;
}
.footer__link {
  color: #212629;
}
.footer__link:hover {
  cursor: pointer;
  color: #25D366;
  transition: 0.7s;
}

.private__margin {
  margin-bottom: 100px;
}
.private__title {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 40px;
  color: #212629;
  margin-left: 30px;
}
.private__flex {
  display: flex;
  align-items: center;
}
.private__span {
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  color: #212629;
}
.private__span:hover {
  color: #25D366;
  transition: 0.7s;
}
.private__blok {
  max-width: 1070px;
  padding: 0px 80px;
  margin-top: 46px;
}
.private__what {
  font-weight: 700;
  font-size: 20px;
  color: #212629;
}
.private__suptitle {
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgba(33, 38, 41, 0.6);
}
.private__name {
  margin-left: 20px;
  color: rgba(33, 38, 41, 0.6);
}
@media screen and (max-width: 800px) {
  .private .private__blok {
    padding: 0px 40px;
  }
  .private .private__suptitle, .private .private__name {
    font-weight: 300;
    font-size: 13px;
  }
  .private .private__what {
    font-weight: 500;
    font-size: 18px;
  }
  .private .private__title {
    font-weight: 600;
    font-size: 35px;
  }
}
@media screen and (max-width: 500px) {
  .private .private__span {
    font-size: 20px;
    font-weight: 300;
  }
  .private .private__blok {
    padding: 0px 25px;
  }
  .private .private__title {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
  }
  .private .private__suptitle, .private .private__name {
    font-weight: 200;
    font-size: 11px;
  }
  .private .private__what {
    font-weight: 400;
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .private .private__blok {
    padding: 0px 10px;
  }
  .private .private__title {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }
  .private .private__suptitle, .private .private__name {
    font-weight: 200;
    font-size: 10px;
  }
  .private .private__what {
    font-weight: 300;
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__left {
    border-top: none;
  }
  .footer__full {
    border-top: none;
    width: auto;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}/*# sourceMappingURL=style.css.map */