@import "./ascents/importants/core";
@import "./ascents/importants/calssses";

@import "./ascents/helpers/mixin";
@import "./ascents/helpers/variables";

@import "./ascents/Сomponents/classes";

@import "./ascents/Сomponents/header";
@import "./ascents/Сomponents/catalog";

// start the media
@import "./ascents/media/global-media";