.footer {

    &__title {
        margin-left: 21px;
        margin-top: 20px;
        font-weight: 300;
        font-size: 18px;
        color: #212629;
    }

    &__suptitle {
        margin-top: 20px;
        font-weight: 300;
        font-size: 18px;
        color: #212629;
    }

    &__img {
        margin-top: 20px;
        width: 20px;
        height: 20px;
    }

    &__left {
        border-top: 1px solid rgba(22, 22, 22, 0.08);
    }

    &__full {
        display: flex;
        margin-bottom: 20px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__full {
        border-top: 1px solid rgba(22, 22, 22, 0.08);
        width: 370px; 
    }

    &__link {
        color: #212629;
        &:hover {
            cursor: pointer;
            color: #25D366;
            transition: .7s;
        }
    }



}