$white:#fff;
$black:#000;
$liteblack:#212629;
$litewhite:#E9E9E9;
$liteoreng:#FE724B;
$liteaqua:#B3E0EB;
$litepink:#FCBEC8;
$litegold:#FE9102;
$litegray:rgba(33, 38, 41, 0.6);
$litegrayhover:rgba(255, 255, 255, 0.5);