.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot {
    background: rgba(33, 38, 41, 0.2);
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
